<% if can? :create, Contractor %>
  <% if current_user.contractor.try(:status) == nil  %>
    Looking for work? Click here to <%= link_to 'Become a Contractor!', new_contractor_path %>
  <% end %>
<% end %>

<table class = "tables">
  <thead>
    <tr>
      <th colspan="3">I am a ...</th>
    </tr>
  </thead>
 
  <tbody>
    <% @listings.map {|listing| listing.category.name}.uniq.each do |category| %>
      <tr>
        <td><%= link_to category, category_path(Category.find_by(name: category).id) %></td>
        
        <% if can? :edit, Category %>
        <td><%= link_to 'Edit', edit_category_path(Category.find_by(name: category)) %></td>
        <% end %>
        <% if can? :destroy, Category %>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>




