<div class = "comment">
  <div class = "comment-image">
    <%= image_tag comment.user.avatar %>
  </div>

  <div class = "comment-content">
    <h1><%= comment.user.try :first_name %></h1>
    <p><%= comment.body %></p>
  </div>
</div>








