<div class = "comment">
  <div class = "comment-content">
    <h4 id='comment_name'><%= comment.user.try :first_name %></h4>
    <p><%= comment.body %></p>
  </div>
  <div class = "comment-image">
    <%= image_tag comment.user.user_avatar.thumb.url %>
  </div>
</div>








