<div class = "comment">
  <div class = "comment-content">
    <h3><%= comment.user.try :first_name %></h3>
    <p><%= comment.body %></p>
  </div>
  <div class = "comment-image">
    <%= image_tag comment.user.user_avatar.thumb.url %>
  </div>
</div>








