<div class = "comment">
  <div class = "comment-image">
    <%= image_tag comment.user.user_image %>
  </div>

  <div class = "comment-content">
    <h1><%= comment.user.try :username %></h1>
    <p><%= comment.body %></p>
  </div>
</div>








