/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 */
 @import "bourbon";
 @import "neat";
 @import "variables.css.scss";
 @import "tabs.css.scss";
 @import "tables.css.scss";
 @import "tags.css.scss";
 @import "badges.css.scss";
 @import "search.css.scss";
 @import "comments.css.scss";
 @import "navbar.css.scss";

 body { background: url(skulls.png);
        margin: 0;
  }

h1 {
  font-family: 'Lato', sans-serif;
}

th {
  font-family: 'Lato', sans-serif;
}

td {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

strong {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


input#q_tags_name_cont{
  @include appearance(none);
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $base-border-radius;
  border-radius: $base-border-radius;
  border: 1px solid $base-border-color;
  display: block;
  font-size: 1em;
  font-style: italic;
  margin: 0;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  position: relative;
  width: 100%;
}

a, img{
  border-radius: 100%;
}

.info-container{
  background-color: rgba(128,128,0,0.4);
  
  padding: 1.5em 1.5em 1em 2.5em;

}

div.side-image-content{
  background-color: rgba(128,128,0,0.2);
}






 








