$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-background-color: white !default;
$base-spacing: 1.5em !default;
$base-accent-color: #477DCA !default;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: em(640) !default;

$tab-border: 1px solid $base-border-color;
$tab-content-background: lighten($light-gray, 10);
$tab-active-background: $tab-content-background;
$tab-inactive-color: $base-background-color;
$tab-inactive-hover-color: darken($light-gray, 5);
$tab-mode: $medium-screen;