$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-background-color: white !default;
$base-spacing: 1.5em !default;
$base-accent-color: #477DCA !default;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: em(640) !default;

$tab-border: 1px solid $base-border-color;
$tab-content-background: lighten($light-gray, 10);
$tab-active-background: $tab-content-background;
$tab-inactive-color: $base-background-color;
$tab-inactive-hover-color: darken($light-gray, 5);
$tab-mode: $medium-screen;

$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$base-accent-color: #477DCA !default;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: em(640) !default;
$large-screen: em(860) !default;
$base-font-color: $dark-gray !default;

$table-border-color: $base-border-color;
$table-border: 1px solid $table-border-color;
$table-background: lighten($table-border-color, 12%);
$table-header-background: lighten($table-background, 10%);
$table-hover-background: darken($table-background, 5%);
$table-stripe-background: darken($table-background, 2%);
$table-stripe-background-hover: darken($table-stripe-background, 5%);
$table-padding: 0.75em 1em;


$base-line-height: 1.5em !default;
$base-accent-color: #477DCA !default;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$large-screen: em(860) !default;
$base-font-color: $dark-gray !default;

$side-image-background-top: #B5EBEB;
$side-image-background-bottom: #5DAC5D;
$side-image-content-background: #F9F9F9;
$side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

$badge-font-size: 0.75em !default;
$medium-gray: #999 !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;


$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-accent-color: #477DCA !default;
$dark-gray: #333 !default;

$search-bar-border-color: $base-border-color;
$search-bar-border: 1px solid $search-bar-border-color;
$search-bar-background: lighten($search-bar-border-color, 10%);


$base-border-radius: 3px !default;
$base-spacing: 1.5em !default;
$base-accent-color: #477DCA !default;
$dark-gray: #333 !default;
$base-font-color: $dark-gray !default;


$comment-gutter: 1.4em;
$comment-image-padding: 0.7em;
$comment-image-width: 4em;
$comment-color: $base-font-color;
$comment-background: lighten($base-accent-color, 15%);
$comment-detail-color: transparentize($comment-color, 0.5);
$comment-image-vert-alignment: top;



$navigation-padding: 1em;
$navigation-background: $dark-gray;
$navigation-color: transparentize(white, 0.3);
$navigation-color-hover: white;
$navigation-height: 60px;
$navigation-nav-button-background: $base-accent-color;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;


$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-accent-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: em(860) !default;

$search-bar-border-color: $base-border-color;
$search-bar-border: 1px solid $search-bar-border-color;
$search-bar-background: lighten($search-bar-border-color, 10%);


